Repository dst-project/drpc, pull requests merged in 2019-12, with the labels that each got.

#39 Add checkstyle
  checkstyle-suppressions.xml
  checkstyle.xml
  common/src/main/java/com/distkv/drpc/utils/RequestIdGenerator.java
  example/src/main/java/com/distkv/drpc/async/Client.java
  example/src/main/java/com/distkv/drpc/pb/Client.java
  example/src/main/java/com/distkv/drpc/pb/IServerImpl.java
  pom.xml
  protocol/src/main/java/com/distkv/drpc/proxy/ProxyHandler.java
  transport/src/main/java/com/distkv/drpc/api/AbstractClient.java
  transport/src/main/java/com/distkv/drpc/api/AbstractServer.java
  transport/src/main/java/com/distkv/drpc/api/async/DefaultAsyncResponse.java
  transport/src/main/java/com/distkv/drpc/netty/ServerChannelHandler.java
Labels: feature request

#46 Rename Exporter to DrpcServer
  example/src/main/java/com/distkv/drpc/async/Server.java
  example/src/main/java/com/distkv/drpc/pb/PBServer.java
  protocol/src/main/java/com/distkv/drpc/DrpcServer.java
Labels: enhancement

#48 Prototype of full protobuf support.
  common/src/main/java/com/distkv/drpc/codec/Codec.java
  common/src/main/java/com/distkv/drpc/codec/drpc_pb.proto
  common/src/main/java/com/distkv/drpc/common/DrpcAddress.java
  example/src/main/java/com/distkv/drpc/async/Client.java
  example/src/main/java/com/distkv/drpc/async/IServer.java
  example/src/main/java/com/distkv/drpc/async/IServer2.java
  example/src/main/java/com/distkv/drpc/async/IServer2Impl.java
  example/src/main/java/com/distkv/drpc/async/IServerImpl.java
  example/src/main/java/com/distkv/drpc/async/Server.java
  protocol/src/main/java/com/distkv/drpc/HandlerDelegate.java
  protocol/src/main/java/com/distkv/drpc/ServerImpl.java
  protocol/src/main/java/com/distkv/drpc/proxy/ProxyHandler.java
  transport/pom.xml
  transport/src/main/java/com/distkv/drpc/api/AbstractClient.java
  transport/src/main/java/com/distkv/drpc/api/Client.java
  transport/src/main/java/com/distkv/drpc/api/DefaultAsyncResponse.java
  transport/src/main/java/com/distkv/drpc/api/DefaultResponse.java
  transport/src/main/java/com/distkv/drpc/api/DefaultRoutableHandler.java
  transport/src/main/java/com/distkv/drpc/api/Handler.java
  transport/src/main/java/com/distkv/drpc/api/ProtobufRequestDelegate.java
  transport/src/main/java/com/distkv/drpc/api/ProtobufResponseDelegate.java
  transport/src/main/java/com/distkv/drpc/api/Request.java
  transport/src/main/java/com/distkv/drpc/api/Response.java
  transport/src/main/java/com/distkv/drpc/api/RoutableHandler.java
  transport/src/main/java/com/distkv/drpc/codec/DrpcCodec.java
  transport/src/main/java/com/distkv/drpc/codec/DstCodec.java
  transport/src/main/java/com/distkv/drpc/codec/ProtoBufSerialization.java
  transport/src/main/java/com/distkv/drpc/netty/NettyClient.java
  transport/src/main/java/com/distkv/drpc/netty/NettyServer.java
  transport/src/main/java/com/distkv/drpc/netty/ServerChannelHandler.java
  transport/src/main/java/com/distkv/drpc/netty/codec/NettyDecoder.java
  transport/src/main/java/com/distkv/drpc/netty/codec/NettyEncoder.java
Labels: feature request

#81 Fix `NettyClient` invoke response
  common/src/main/java/com/distkv/drpc/exception/DrpcRuntimeException.java
  transport/src/main/java/com/distkv/drpc/netty/NettyClient.java
Labels: bug
